p,h1,a,img {
    margin: 10px auto;
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}

a {
    border: 1px solid black; 
}

#container{
    margin-top: 5%;
    margin-bottom: 10%;
}
